<table border="1" width="100%">
  <thead>
    <tr>
  <th rowspan=2 width="15%"><small>Идентификатор АП</small></TH>
  <th rowspan=2 width="19%"><small>Сетевой адрес</small></TH>
  <th colspan=2 width="13%"><small>Значение счетчиков</small></th>
  <th rowspan=2 width="53%"><small>Относительная активность</small></th>
    </tr>
        <TR>
          <th width="7%" align="center">Входящего</TH>
      <th width="6%" align="center">Исходящего</TH>
</TR>
  </thead>
  <tbody>
   <!-- BEGIN DYNAMIC BLOCK: row -->
<TR><TD>{HNAME}</TD>
<TD><a href=stat.php?mode=host&host={HID}>{IP}</a></TD>
<td align=right BGCOLOR=#ffff80>{IN}</td>
<td align=right BGCOLOR=#80ff00>{OUT}</td>
<td><font face="arial" size="1"><img src="../img/bar-y.gif" width="{REL_IN}%" height="10" border="0"> {REL_IN}%<br>
        <img src="../img/bar-g.gif" width="{REL_OUT}%" height="10" border="0"> {REL_OUT}%</font></td>
   <!-- END DYNAMIC BLOCK: row -->
  </tbody>
</table>